@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

html{
    width: 100%;
    border: 0;
    overflow-x: hidden;
}

body{
    width: 100%;
    margin: 0 !important;
    font-family: 'Inter', sans-serif;
    background-color: #171717;
    color: white;
    height: 100%;
}

.main{
    width: 100%;
    height: 80%;
}

hr{
    background-color: white;
    height: 0.1vw;
}

header{
    font-size: 0.6vw;
    padding: 1vw;
    margin-top: 0px;
    width: 100%;
    height: 3vw;
    text-align: center;
    background-color: #0e0c0c;
    letter-spacing: 1px;
}

input{
    border-style: none;
    border-radius: 8px;
    width: 15vw;
    height: 1.2vw;
    font-size: 0.7vw;
}

input::placeholder{
    font-size: 0.7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    background: none;
    border-style: none;
    cursor: pointer;
}

.searchitens{
    margin-top: 2.5vw;
    border: 2px 100% #a8a29e;
    width: 100vw;
    text-align: center;
    font-size: 0.7vw;
    justify-content: space-between;
}

#teste{
    margin-left: 19vw;
}

.generaldisplay{
    height: 90vh;
    margin-top: 2.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around !important;
}

.teamspecs{
    border-radius: 15px;
    background-color: #a8a29e;
    border: solid white 0.2vw;
    width: 40vw;
    height: 80vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.teamspecs h2{
    text-align: center;
}

.teamspecs img{
    width: 15vw;
    height: 15vw;
}

.venueinfo{
    border-radius: 15px;
    background-color: #a8a29e;
    border: solid white 0.2vw;
    width: 40vw;
    height: 80vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.venueinfo h2{
    text-align: center;
}

.venueinfo img{
    border: solid white;
    width: 35vw;
    height: 20vw;
}

.teamspecs .esp-team{
    font-size: 3vh;
}
.venueinfo .esp-venue{
    font-size: 3vh;
}

footer{
    height: 20%;
    width: 100%;
    background-color: #0e0c0c;
}

footer hr{
    height: 0.002rem;
}

#footercontent{
    width: 100%;
    display: grid;
    padding: 2.5vw 2.5vw;
}

.footerlinks{
    text-decoration: none;
}

#social{
    justify-content: center;
    display: flex;
    gap: 6vw;
}

#social .footerlinks{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.6s;
}

#social .footerlinks i{
    font-size: 1.25rem;
}

#social .footerlinks:hover{
    opacity: 0.6;
}

#instagram{
    border: solid white 0.1vw;
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    border: solid white 0.1vw;
    background-color: #4267b3;
}

#twitter{
    border: solid white 0.1vw;
    background-color: black;
}

#github{
    border: solid white 0.1vw;
    background-color: black;
}

#copyright{
    padding: 1rem;
    text-align: center;
}

#copyright a{
    text-decoration: none;
    color: white;
}

/*---------------------------------------------Estilização individual dos ids de conteúdo da API---------------------------------------------*/



/*------------------------------------------Fim da estilização individual dos ids de conteúdo da API-----------------------------------------*/

@media (max-width: 770px) {
    header{
        height: 8vw !important;
    }
    header h1{
        font-size: 3vw !important;
    }
    .searchitens{
        margin-top: 6vw !important;
        height: 6vw !important;
    }
    .searchitens input{
        height: 6vw !important;
        width: 80vw !important;
        font-size: 3vw !important;
    }
    input::placeholder{
        font-size: 3vw !important;
    }
    .generaldisplay{
        margin-top: 8vw !important;
        display: flex !important;
        flex-wrap: wrap !important;
        height: 200% !important;
    }
    .teamspecs{
        margin-top: 0;
        width: 80% !important;
        height: 70vh !important;
    }
    .teamspecs img{
        height: 40vw !important;
        width: 40vw !important;
    }
    .venueinfo{
        width: 80% !important;
        margin-top: 5vw !important;
        height: 70vh !important;
    }
    .venueinfo img{
        height: 40vw !important;
        width: 70vw !important;
    }
    .teamspecs .esp-team{
        font-size: 3vh!important;
        margin-bottom: 0!important;
    }
    .venueinfo .esp-venue{
        font-size: 3vh!important;
        margin-bottom: 0!important;
    }
    h2{
        font-size: 5vw !important;
    }
    footer{
        margin-top: 2rem !important;
    }
    #social{
        padding: 0.5rem !important;
    }
}
/* @media (max-width: 770px) and (min-width:451px){
    .teamspecs{
        margin-top: 3vw;
        height: 120vw;
    }
    .venueinfo{
        margin-top: 3vw;
        height: 120vw;
    }
    .exibition-venue{
        gap: 2vw;
    }
    .teamspecs .esp-team{
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .venueinfo .esp-venue{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
} */
@media (max-width: 1800px){
    main{
        height: 90%;
    }
    .teamspecs{
        margin-top: 1vw;
        height: 80vh;
    }
    .venueinfo{
        margin-top: 1vw;
        height: 80vh;
    }
    .teamspecs .esp-team{
        font-size: 3vh;
    }
    .venueinfo .esp-venue{
        font-size: 3vh;
    }
}
/* @media (min-width: 2000px){
    footer{
        margin-top: 2vw;
    }
    .exibition-venue{
        gap: 2vw;
    }
    .teamspecs .esp-team{
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .venueinfo .esp-venue{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
} */
@media (max-height: 950px){
    .teamspecs{
        margin-top: 1vw;
        height: 95vh !important;
    }
    .venueinfo{
        margin-top: 1vw;
        height: 95vh !important;
    }
    footer{
        margin-top: 10vh !important;
    }
}